<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>
    
    <div class="body">
        {{>navbar}}

        <div class="main">
            <div class="main-right">
                <figure class="fgr">
                    <img src="./img/girl.png" alt="dhruv" title="Dhruv">
                </figure>
            </div>
            <div class="main-left">
                <p>Welcome to thapa techincal world</p>
                <h1>I am A <span>Mern Stack Developer</span>, Youtuber <br> and Freelancer</h1>
                <a href="/weather"> <button class="btn">About me</button></a>
            </div>
            
        </div>
       {{>footer}}
    </div>
</body>

</html>